
 .navbar{
    text-align: center;
    
 }

 .navbar li {
     display: inline-block;
     margin-top: 4%;
     margin-right: 4%;
 }

 .navbar li a {
     color: darkslateblue;
     font-weight: bold;
 }

.nav-right {
    display: inline-block;
    margin-top: 1%;
}


 .logo {
    width: 20%;
 }

.row {
    width: 100%;
    
}

.content {
    display: flex;
    background-color: rgba(168, 210, 255, 1);
    width: 100%;
    margin: 0;
}

.cover {
    width: 100%
}

.left {
    display: flex;
    width: 70%;
    margin: 5%;
}

.right {
    display: flex;
    width: 30%;
    margin: 5%;
}

.tasks {
    display: block;
    width: 100%;
    border-radius: 2%;
    margin: 5% 2% 0 0;
    padding: 3%;
    background-color: #fff;
}


.btn {
    display: block;
    margin-top: 2%;
}

aside {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.calender{
    display: block;
    height: 40%;
    border-radius: 2%;
    background-color: #fff;
    width: 100%;
    margin-bottom: 10%; 
    
}

.completed {
    display: block;
    margin-top: 5%;
    background-color: #fff;
    width: 100%;
    height: 40%;
    border-radius: 2%;
}

h5 {
    font-weight: bold;
    color: darkslateblue;
}

.footer {
    height: 60%;
    border: 2px solid black;
    background-image: linear-gradient(rgba(72,61,139,0.5), rgba(72,61,139,0.5)), url(/assets/Rectangle\ 9.png) ;
    
}

.footer img {
    width: 10%;
    display: block;
    margin: 5% 0 0 5%;
}

.footer-info {
    display:;
    margin: 2% 5% 5%;
}

.footer-info li {
    list-style-type: none;
    display: inline;
    margin-right: 2%;
   
}

.footer-info li a {
    color: #fff;
    text-decoration: none;
}

.connect {
    display: inline-block;
    color: #fff;
  
}