* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Open Sans', sans-serif;
}
.logo img {
   margin: 2rem 0 1rem 5rem;
}
.grid {
   display: grid;
   grid-template-columns: 40% 60%; 
   grid-column-gap: 5rem;
   padding: 0rem 11rem;
}
.book-lover img {
   width: 100%;
   height: auto;
 }
.learn-how-to-study {
   color: #6360AA;
   text-align: center;
   font-weight: 800;
   font-size: 36px;
}
.free-ebook-text {
   text-align: center;
   font-size: 14px;
   padding: 2rem 0;
}
.email input {
   Width: 387px;
   Height: 58px;
   background: rgba(129, 134, 140, 0.25);
   box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
   border: none;
   border-radius: 2px;
   font-size: 18px;
   padding: 10px;
}
.email button {
   padding: 13px 30px;
   background: #6360AA;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
   border: none;
   border-radius: 4px;
   color: white;
   cursor: pointer;
}
.checkbox {
   margin: 2rem 0;
}
.checkbox input:hover {
   cursor: pointer;
}
#error-message {
   margin-top: .2rem;
   position: absolute;
}
@media screen and (max-width: 1024px) {
   .logo img {
      width: 5rem;
   }
   .grid {
      padding: 0 8rem;
      grid-column-gap: 3rem;
   }
   .email input[type="text"] {
      width:100%;
      box-sizing: border-box;
      margin-bottom: 1rem;
   }
   .learn-how-to-study {
      font-size: xx-large;
   }
}
@media screen and (max-width: 950px) {
   .logo img {
      margin-left: 3rem;
   }
   .grid {
      padding: 0 5rem;
      grid-column-gap: 2rem
   }
}
@media screen and (max-width: 650px) {
   .logo img {
      margin-left: 2rem;
      width: 5rem;
   }
   .grid {
      display: flex;
      flex-direction: column;
      padding: unset;
   }
   .book-lover img {
      padding: 2rem 2rem 0;
   }
   .book-lover-text {
      padding: 2rem;
   }
   .learn-how-to-study {
      font-size: xx-large;
   }
   .email input[type="text"] {
      width:100%;
      box-sizing: border-box;
      margin-bottom: 1rem;
   }
}

@media screen and (max-width: 480px) {
   .logo img {
      margin-left: 2rem;
      width: 5rem;
   }
   .grid {
      display: flex;
      flex-direction: column;
      padding: unset;
   }
   .book-lover img {
      padding: 2rem 2rem 0;
   }
   .book-lover-text {
      padding: 2rem;
   }
   .learn-how-to-study {
      font-size: xx-large;
   }
   .email input[type="text"] {
      width:100%;
      box-sizing: border-box;
      margin-bottom: 1rem;
   }
}