body{
  background-color: #A8D2FF;
}

.p-container{
  margin: 0 40px 0 100px;
}

.jumbotron{
  background-image: url('./images/Rectangle\ 38.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar{
  min-height: 200px;
  max-width: 413px;
  margin: auto;
}

div.one, div.two, div.three{
  width: 32px;
  height:32px;
  font-size: 18px;
  background-color: #6360AA;
  color: white;
}

div.question{
  font-size: 18px;
  color: #404040;
}

.btn-back{
  color: #6360AA;
  font-size: 12px;
}

.btn-color{
  background-color: #6360AA;
  color: white;
  font-size: 12px;
}

.display-none{
  display: none;
}

.invisible{
  height: 0px!important;
}

.c-progress{
  max-width: 610px;
}

.c-completed{
  max-width: 505px;
  min-height: 250px;
}

.card-title{
  color: #6360AA;
}

div.circle{
  width: 20px;
  height: 20px;
  background: #F2994A;
}