* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Open Sans', sans-serif;
}
form {
   display: flex;
   justify-content: center;
   margin: 2rem 0 0 0;
}
.form-group {
   padding: 2rem 0;
}
.form-group input {
   Width: 387px;
   Height: 58px;
   background: rgba(129, 134, 140, 0.25);
   box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
   border: none;
   border-radius: 2px;
   font-size: 18px;
   padding: 10px;
}
button {
   padding: 13px 40px;
   background: #6360AA;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
   border: none;
   border-radius: 4px;
   color: white;
   cursor: pointer;
   text-transform: uppercase;
}
.submitbtn {
   text-align: center;
   margin-top: 3rem;
}
#confirm-new-password, #newpassword {
   margin-bottom: 1rem;
}
#error-message1 {
   position: absolute;
}
#error-message2 {
   position: absolute;
}
.error {
   border: .1rem red solid !important;
}
.success {
   border: .1rem green solid !important;
} 

@media screen and (max-width: 650px) {
   .password {
      padding: 0 5rem;
   }
   .form-group input[type="password"] {
      width:unset;
      box-sizing: border-box;
      margin-bottom: 1rem;
   }
}

/* @media screen and (max-width: 480px){
   .form-group input[type="password"] {
      width:unset;
      box-sizing: border-box;
      margin-bottom: 1rem;
   }
} */